    :root{
    --primary-color: #EFF5EC;
    --secondary-color: #2E605D;
    --tertiary-color: #97a1a2;
    --4th-color: #ffd873;
    --5th-color: #363636;
    }

    @font-face {
        font-family: 'Noto Sans';
        src: url('fonts/NotoSans-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Noto Sans';
        src: url('fonts/NotoSans-Italic.woff2') format('woff2');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }

    *{
        margin: 0;
        padding: 0%;
        box-sizing: border-box;
    }

    body{
        background-color: var(--primary-color)
    }

    main{
        margin: 1rem;
        padding: 1rem 0rem;
    }

    img{
        height: auto;
        width: 100%;
    }

 
    nav{
        background-color: var(--secondary-color);
        /* text-align: right; */
        padding-bottom: 5%;
        width: 100%;

        ul{
        list-style: none;
        /* Position: relative;
        Left: 0;	
        Top: 0;
        Width: 100% */

        }
        li{
        margin: 0rem 1rem;
        


            img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 40%;
        }
            }
        }
       
        img.logonav{
                Width: 20%;
                padding-top: 5%;
        /* This controls the logo in the navigation for both the header and the footer*/
        }
        nav>ul>li>a{
        /* This controls the color of the navigation text */
        color: #fff;
    }

    footer{
        background-color: var(--secondary-color);
        text-align: center;
        padding-bottom: 5%;
        /* background: linear-gradient(
            to bottom,
            --4th-color
            --5th-color
        ); */
        ul{
        list-style: none;

        li{
        color: #fff;
            }

        img.logofooter{
            Width: 20%;
            margin-top: 5%
            }
        }
    }

   

    h1, h2, h3, h4{
        font-family: 'Noto Sans', helvetica,  sans-serif;
        margin: 0;
        
    }

    h1{
        font-size: 3rem;
        /* font-size: clamp(32px, 3rem, 48px); */
        font-weight: 900;
        line-height: 1.2;   
        letter-spacing: -0.1rem;
        
    }

    h2{
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: -0.1rem;
        margin-top: 1.8rem;

    }

    h3{
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: -0.1rem;
        margin-top: 1.5rem;
    }

    /* h3+img{
        margin-top: .5rem;
    } */

    h1 + p{
        margin-top: 0.3rem;
    }

    h2 + p{
        margin-top: 0.3rem;
    }

    h3 + p{
        margin-top: 0.3rem;
    }

    p{
        font-family: 'Noto Sans', helvetica, sans-serif;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.7;
        margin-top: 0.9rem;
    }

    a:hover{
        color: var(--4th-color);
        /* text-shadow:  4px 8px red; */
    }

    a:active{
        color: var(--4th-color);
    }

    ul{
        
        li{
        font-family: 'Noto Sans', helvetica, sans-serif;
        font-weight: 400;
        font-size: 1.1rem;
        list-style: none;
        line-height: 1.7;

        a{
            color: black;
        }
    }
    }

    ol{
        margin-top: .5rem;
    li{
        font-family: 'Noto Sans', helvetica, sans-serif;
        font-weight: 400;
        font-size: 1.1rem;
        list-style: none; 
        line-height: 1.7;
    }

    }

    /* This section is for styling the table on the hobbies page */

    table, th, td{
        /* border: 1px solid black; */
        font-family: 'Noto Sans', helvetica, sans-serif;
        font-size: .9rem;
        border-collapse: collapse;
        /* overflow: hidden; */
    }

    table{
        width: 100%;
        font-weight: 400;
        border-spacing: .5rem;
    }

    th, td{
        padding: .3rem .9rem;
    }

    th{
        text-align: left;
        padding: 1.2rem;
    }

    td{
        border-spacing: .2rem;
    }

    td>img{
        width: 1.2rem;
    }

    .mana{
        /* This is to adjust the spacing between the mana symbols */
        margin-left: 0.2rem;
    }

    div>img{
        margin-top: 1rem;
    }

    #anchor{
        margin-top: 1.5rem;
    }

    div.bullets>ul>li{
        /* background-color: #2E605D; */
        list-style: decimal;
        margin-left: 3rem;
        line-height: 1.8rem;
    }

    div.bullets>ol>li{
        list-style: decimal;
        margin-left: 3rem;
        line-height: 2.3rem;
    }

    .title{
        text-align: center;
    }

    .imggal{
        /* This controls the container for divs that contain divs with images */
        margin-top: 0.8rem;
    }

    .center{
        /* This controls the middle row in tables */
        width: 30%;
    }