    :root {
        --primary-color: #EFF5EC;
        --secondary-color: #2E605D;
        --secondary-color50: #2E605D50;
        --tertiary-color: #97a1a2;
        --quatnery-color: #ffd873;
        --quinary-color: #363636;
        --black: #0000;
        --white: #fff;
        --rythym: 1.5rem;
        --xlarge: 2rem;
        --large: 1.5rem;
        --medium: 1.17rem;
        --small: 1rem;
        --xsmall: 0.8rem;
    }

    @font-face {
        font-family: 'Noto Sans';
        src: url('fonts/NotoSans-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Noto Sans';
        src: url('fonts/NotoSans-Italic.woff2') format('woff2');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }

    * {
        margin: 0;
        padding: 0%;
        box-sizing: border-box;

    }

    body {
        font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
        background-color: var(--primary-color)
    }

    main {
        /* This adds space to the sides of the site for the elements that live inbetween the main tags. */
        margin: 1rem;
        padding: 1rem 0;
    }

    h1 {
        font-size: var(--xlarge);
        /* font-size: clamp(32px, 3rem, 48px); */
        font-weight: 900;
        line-height: 1.2;
        letter-spacing: 0;
        /* margin-top: var(--rythym); */

    }

    h2 {
        font-size: var(--large);
        font-weight: 800;
        line-height: 1.4;
        letter-spacing: 0;
        margin-top: var(--rythym);

    }

    h3 {
        font-size: var(--medium);
        font-weight: 700;
        letter-spacing: 0;
        margin-top: var(--rythym);
    }

    h4{
        font-size: var(--small);
        font-weight: 700;
        letter-spacing: 0.1rem;
        margin-top: var(--rythym);
    }

    p {
        font-weight: 400;
        font-size: var(--small);
        letter-spacing: 0;
        line-height: 1.7rem;
        margin-top: var(--rythym);
    }

    span{
        font-weight: bold;
    }

       ul{
        li{
            /* line-height: 1.7rem;
            font-size: var(--xsmall);
            margin-top: 0.3rem;
            padding: 0.5rem 0.9rem 0rem 0.5rem; */
            list-style-position: inside;
            font-weight: 400;
            line-height: 1.7rem;
            font-size: var(--xsmall);
            margin-top: 0.8rem;
            padding-left: 1rem;
        }
    }

    li::marker{
        color: var(--secondary-color);
    }

    ol{
        li{
            list-style-position: inside;
            line-height: 1.7rem;
            font-size: var(--xsmall);
            margin-top: 0.8rem;
            padding-left: 1rem;
        }
    }

    img {
        /* This controls the sizing for all website images */
        height: auto;
        width: 100%;
        margin-top: var(--rythym);
    }

    section{
        margin-top: var(--rythym);
        h2, h3 + p{
            margin-top: 0.5rem;
        }
    }

   div{
    margin-top: var(--rythym);
        h2, h3, h4, p + span{
            margin-top: var(--rythym);
        }
    }

    div>img {
    /* This controls the spacing between each photo.*/
        margin-top: var(--rythym);
    }


    video{
         height: auto;
         width: 100%;
         margin-top: var(--rythym);
    }

    nav {
        /* This controls the styling of the navigation */
        background-color: var(--secondary-color);
        text-align: right;
        padding-bottom: 5%;
        width: 100%;
        border-bottom: 2px solid var(--tertiary-color);
        /* position: sticky;
        top: 0; */

        ul {
            list-style: none;
            margin: 0;
        }

        li {
            margin: 0 1rem;
            padding: 0.1rem 0;
            color: var(--white);
            font-size: var(--small);
            line-height: 2rem;

            a{
                color: var(--white)
            }

            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 40%;
                &.logonav{
                         /* This controls the logo in the navigation for the nav*/
                    Width: 20%;
                    padding-top: 5%;
                }
            }
        }
    }

    footer {
        /* This controls the styling in the footer */
        background-color: #2E605D;
        /* background: linear-gradient(to bottom, var(--secondary-color),var(--gradientbottom)); */
        border-top: 2px solid var(--tertiary-color);
        text-align: center;
        padding-bottom: 5%;
        ul {
            list-style: none;
            
            li {
                margin: 0 1rem;
                padding: 0.1rem 0;
                color: var(--white);
                font-size: var(--small);
                line-height: 2rem;

                a{
                  color: var(--white);  
                }
                
                img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 40%;
                &.logonav{
                         /* This controls the logo in the navigation for the nav*/
                    Width: 20%;
                    padding-top: 5%;
                }
                }
            }
        }
    }

            a:hover {
        /* This controls the color when you hover over a link. */
        color: var(--quatnery-color);
        /* text-shadow:  4px 8px red; */
    }

    a:active {
        /* This controls the color when you click on a link. */
        color: var(--quatnery-color);
    }

    .anchor {
        /* This controls the anchor tags at the top of the hobbies page */
        background-color: #2E605D;
        margin-top: 0.5rem;
        padding-bottom: 0.8rem;
        border-style: solid;
        border-color: var(--tertiary-color);
    /* This controls the anchor tags on the hobbies page */
        li {
            font-weight: 400;
            font-size: 1.1rem;
            list-style: none;

            a {
                color: #fff;
            }
    }
    }

    .ingredients{
        /* This controls the ingredients list under cooking in the hobbies page */
    margin-top: var(--rythym);
        ul{
        margin: 0 1rem 0 0.5rem;

            li {
                font-weight: 300;
                font-size: var(--xsmall);
                margin: 0.5rem 0 0 -0.2rem;
                line-height: 1.5rem;
                padding: .2rem 0;
                list-style: none;

                input{
                    accent-color: var(--quatnery-color);
                    margin-right: 0.5rem;
                }
                
            }
        }
    }
     .instructions{
        /* This controls the instructions list under cooking in the hobbies page */
            margin-top: var(--rythym);
        li {
            font-weight: 200;
            font-size: var(--xsmall);
            list-style: none;
            line-height: 1.7rem;
            padding: 0.4rem 0.3rem 0 0.3rem;
            margin-top: -0.5rem;

                span{
                    margin-top: 0.5rem;
                    display: block;
                    background-color: var(--secondary-color50);
                }
        }
    }

    .mtgbullet{
        /* This controls the styling for the list in the Magic the Gather section of hobbies */
    ul{
        margin-top: 0;

        li{
            margin: 0;
            list-style-type: none;
            line-height: 0;
            padding-left: 0;
            img{
                width: 0.8rem;
                margin-top: 0.5rem;
            }
            }
       }
        
 
    }
    .mana {
        /* This is to adjust the spacing between the mana symbols */
        margin-left: 0.2rem;
    }

    .lands{
        /* This specifically controls the line height in the lands unordered list due to it not having images */
        li{
            margin-top: 0.5rem;
            padding-left: 0;
            list-style-type: none;
            line-height: 1rem;
        }
    }

/* This section is for the portfolio page */

    .title {
        text-align: center;
    }

    .imggallery {
        /* This controls the container for divs that contain divs with images */
        margin-top: -0.5rem;
        div{
            margin-top: 0;
        }
    }

    div>video{
        margin-top: var(--rythym);
    }
    .videogallery{
        /* This controls the container for divs that contain divs with images */
        margin-top: 0.8rem;
    }

    /* This section is for the about page */

    .border{
        /* This selector styles the borders of Divs */
        border-style: solid;
        border-width: thin;
        margin-top: var(--rythym);
        padding: 0.5rem 0 0 0.2rem;
        border-color: var(--secondary-color50);
        h3, h4{
            margin: 0 0 -0.9rem 0;
        }
        ul{
            margin-top: var(--rythym);
            li{
                margin: 0;
            }
        }
    }