    :root{
    --primary-color: #EFF5EC;
    --secondary-color: #2E605D;
    --tertiary-color: #97a1a2;
    --4th-color: #ffd873;
    --5th-color: #363636;
    --rythym: 1.5rem;
    }

    @font-face {
        font-family: 'Noto Sans';
        src: url('fonts/NotoSans-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Noto Sans';
        src: url('fonts/NotoSans-Italic.woff2') format('woff2');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }

    *{
        margin: 0;
        padding: 0%;
    }

    body{
        background-color: var(--primary-color)
    }

    main{
        margin: 1rem;
    }

    img{
        height: auto;
        width: 100%;

    }

    img.logonav{
        Width: 20%;
        Height: 20%;
    }

    nav{
        background-color: var(--secondary-color);
        text-align: right;

    }

    nav>ul{
        list-style: none;
    }

    nav>ul>li>a{
        color: #fff;
        /* This controls the color of the navigation text */
    }
nav>ul>li>a>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
    footer{
        background-color: var(--secondary-color);
        text-align: center;
    }

    footer>ul{
        list-style: none;
    }

    footer>ul>li>a{
        color: #fff;
        /* This controls the color of the footer text */
    }

img.logofooter{
        Width: 20%;
        Height: 20%;
    }

    /* section{
        margin: 5%
    } */

    h1, h2, h3, h4{
        font-family: 'Noto Sans', helvetica,  sans-serif;
        margin: 0;
        
    }

    h1{
        font-size: 3rem;
        /* font-size: clamp(32px, 3rem, 48px); */
        font-weight: 900;
        line-height: 1.2;   
        letter-spacing: -0.1rem;
        
    }

    h2{
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: -0.1rem;
        margin-top: 1.8rem;

    }

    h3{
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: -0.1rem;
        margin-top: 1.5rem;
    }

    p{
        font-family: 'Noto Sans', helvetica, sans-serif;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.7;
        margin-top: 0.9rem;
    }

    a{
        color: var(--4th-color);
    }

    a:hover{
        color: var(--4th-color);
        /* text-shadow:  4px 8px red; */
    }

    li{
        font-family: 'Noto Sans', helvetica, sans-serif;
        font-weight: 400;
        font-size: 1.1rem;
    }

    tr, th{
        font-family: 'Noto Sans', helvetica, sans-serif;
        font-weight: 400;
        font-size: 1.1rem;
    }
