    :root {
        --primary-color: #EFF5EC;
        --secondary-color: #2E605D;
        --tertiary-color: #97a1a2;
        --quatnery-color: #ffd873;
        --quinary-color: #363636;
        --black: #0000;
        --white: #fff;
        --rythym: 1.5rem;
        --xlarge: 3rem;
        --large: 2rem;
        --medium: 1.5rem;
        --small: 1.1rem;
        --xsmall: 0.9rem;
    }

    @font-face {
        font-family: 'Noto Sans';
        src: url('fonts/NotoSans-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Noto Sans';
        src: url('fonts/NotoSans-Italic.woff2') format('woff2');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }

    * {
        margin: 0;
        padding: 0%;
        box-sizing: border-box;

    }

    body {
        font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
        background-color: var(--primary-color)
    }

    main {
        /* This adds space to the sides of the site for the elements that live inbetween the main tags. */
        margin: 1rem;
        padding: 1rem 0rem;
    }

    img {
        /* This controls the sizing for all website images */
        height: auto;
        width: 100%;
    }

    ul>li{
            line-height: 1.7rem;
            font-size: var(--xsmall);
            margin-top: 1.3rem;
    }
    nav {
        /* This controls the styling of the navigation */
        background-color: var(--secondary-color);
        text-align: right;
        padding-bottom: 5%;
        width: 100%;
        border-bottom: 2px solid var(--tertiary-color);
        /* position: sticky;
        top: 0; */

        ul {
            list-style: none;
        }

        li {
            margin: 0rem 1rem;

            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 40%;
            }
        }
    }

    img.logonav {
        /* This controls the logo in the navigation for the nav*/
        Width: 20%;
        padding-top: 5%;
    }

    nav>ul>li>a {
        /* This controls the color of the navigation text */
        color: var(--white)
    }

    footer {
        background-color: #2E605D;
        /* background: linear-gradient(to bottom, var(--secondary-color),var(--gradientbottom)); */
        border-top: 2px solid var(--tertiary-color);
        text-align: center;
        padding-bottom: 5%;
        ul {
            list-style: none;

            li {
                margin: 0rem 1rem;
                color: #fff;
            }
        }
    }

    footer>ul>li>a{
        color: var(--white);
        font-size: var(--xsmall);
    }

    h1 {
        font-size: var(--xlarge);
        /* font-size: clamp(32px, 3rem, 48px); */
        font-weight: 900;
        line-height: 1.2;
        letter-spacing: -0.1rem;

    }

    h2 {
        font-size: var(--large);
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: -0.1rem;
        margin-top: 1.8rem;

    }

    h3 {
        font-size: var(--medium);
        font-weight: 600;
        letter-spacing: -0.1rem;
        margin-top: var(--rythym);
    }

    h1, h2, h3 + p {
        /* This says that anytime I have a paragraph follow an h1,h2,h3, add margin to the top*/
        margin-top: 0.3rem;
    }

    p {
        font-weight: 400;
        font-size: var(--small);
        line-height: 1.7;
        margin-top: 0.9rem;
    }

    span{
        font-weight: bold;
    }

    a:hover {
        /* This controls the color when you hover over a link. */
        color: var(--4th-color);
        /* text-shadow:  4px 8px red; */
    }

    a:active {
        /* This controls the color when you click on a link. */
        color: var(--4th-color);
    }


    .anchor {
        /* This controls the anchor tags at the top of the hobbies page */
        margin: var(--rythym) 0;
        /* background-color: #2E605D; */
        margin-top: 0.5rem;
        padding: var(--rythym) .5rem;
    /* This controls the anchor tags on the hobbies page */
        li {
            font-weight: 400;
            font-size: 1.1rem;
            list-style: none;
            line-height: 2.5rem;

            a {
                color: black;
            }
    }
    }

    div.bulletsing{
        /* This controls the ingredients/instructions lists under cooking in the hobbies page */
        margin-top: .5rem;

        li {
            font-weight: 300;
            font-size: 1.1rem;
            margin: 0.5rem 0 0 1rem;
            line-height: 2.3rem;
            padding: .2rem 0;
        }
    }
     div.bulletsins{
        /* This controls the ingredients/instructions lists under cooking in the hobbies page */
        
        li {
            font-weight: 200;
            font-size: 1.1rem;
            list-style: none;
            line-height: 2.3rem;
            padding: 0.4rem 0 0 0;

                span{
                    margin-top: 0.5rem;
                    display: block;
                }
        }
    }

    div.mtgbullet{
        /* This controls the styling for the list in the Magic the Gather section of hobbies */
    li{
        list-style-type: none;
        line-height: 2rem;
            img{
                width: 1rem;
            }
        }
 
    }
    .mana {
        /* This is to adjust the spacing between the mana symbols */
        margin-left: 0.2rem;
    }


/* This section is for the portfolio page */

   div>img {
        margin-top: 1rem;
    }

    .title {
        text-align: center;
    }

    .imggal {
        /* This controls the container for divs that contain divs with images */
        margin-top: 0.8rem;
    }

    .center {
        /* This controls the middle row in tables */
        width: 30%;
    }